@model List<string>

@{
    ViewBag.Title = "SecondViewMethod";
}


<h2>Отсортированный список овощей (таблица)</h2>
<table class="table" style="width:20%">
    <thread>
        <tr>
            <th class="text-center">Наименование</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var vegetable in Model)
        {
            <tr class="text-center">
                <td>@vegetable</td>
            </tr>
        }
    </tbody>
</table>
